@{
    ViewData["Title"] = "Home";
    @model List<Collection.Models.Item>

}

@if (Model.Count == 0)
{
    <h2 class="text-info ml-2 text-dark">Элементов нет</h2>
}
else
{
    <h3 class="text-info ml-2 text-dark">Последние добавленные элементы</h3>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Название элемента</th>
                <th scope="col">Теги</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <th scope="row">@item.Tegs</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <td>
                        <form asp-controller="Home" asp-action="ItemPage" asp-route-id="@item.IdCollection">
                            <button class="btn btn-primary">
                                Коллекция
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="UserPage" asp-route-userName="@User.Identity.Name">
                            <button class="btn btn-primary">
                                Пользователь
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
@if (Model.Count == 0)
{
    <h2 class="text-info ml-2 text-dark">Коллекций нет</h2>
}
else
{
    <h3 class="text-info ml-2 text-dark">Коллекции с наибольшим количеством элементов</h3>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Название коллекции</th>
                <th>Описание коллекции</th>
                <th>Тема</th>
                <th>Количество элементов</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CollectionDb collectionDb in ViewBag.Collections)
            {
                <tr>
                    <th scope="row">@collectionDb.Name</th>
                    <td>@collectionDb.Description</td>
                    <td>@collectionDb.Theme</td>
                    <td>@collectionDb.CountItems</td>
                    <td>
                        <form asp-controller="Home" asp-action="ItemPage" asp-route-id="@collectionDb.Id">
                            <button class="btn btn-primary">
                                Коллекция
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="UserPage" asp-route-userName="@User.Identity.Name">
                            <button class="btn btn-primary">
                                Пользователь
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
